.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.chart-main {
  display: flex;
  border-bottom: 1px solid;
  border-left: 1px solid;
  gap: 20px;
  height: 300px;
  align-items: flex-end;

}

@media (max-width: 768px) {
  .chart-main {
    width: 40vh;
    border: 1px solid;
  }

  .y-axis {
    margin-left: -9rem;
    margin-top: -11%;
  }
}


.items {
  width: 70px;
  position: relative;
}

.item-data {
  position: absolute;
  bottom: 100%;
  margin-bottom: 5px;
  background: rgb(30, 29, 29);
  color: thistle;
  padding: 10px;
  border-radius: 11px;
  font-size: 15px;
  text-align: center;
  z-index: 1;
  left: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.items:hover {
  cursor: pointer;
  .item-data {
    opacity: 1;
  }
}

.y-axis {
  position: absolute;
  left: 26%;
  top: 50%;
  transform: rotate(-90deg);
}
